
body{
    font-family: "Fire sans", arial, sans-serif ;
margin: 0px;
color: black;
}


h1,h2,h3,p { margin: 0px;}


ul{
    margin: 0px;
    padding: 0px;
list-style: none;
}


img{
    max-width: 100%;
    display: block ;
   height: auto;
}
a{
    text-decoration: none;
    color: black;
}


.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 6rem;
    margin: 0 6rem 0 0;
    }
    .introduçao h1{
        font-size: calc(24rem/16);
       
       
       }
       .introduçao::before{
           content: "";
           display: block;
       background-image: url(perfil.jpg);
       width: 100px;
       height: 50px;
       position: absolute;
       z-index: -1;
       top:
       -15;
       left: -40;
       }
       @import url(1.css);
@import url(2.css);
@import url(header.css);
@import url(introducao.css);

header{
    display: flex;
justify-content: space-between;
align-items: center;
padding: 40px 20px;
}


.menu{
    display: flex;
    gap: 1rem;
}
